:root{
    --color-negro-profundo: #0A0908;
    --color-azul-oscuro: #22333B;
    --color-crema: #EAE0D5;
    --color-dorado-suave: #C6AC8F;
    --color-marron-elegante: #5E503F;
    --brillo-fuerte: rgba(198,172,143,0.6);
}


html{
    font-size: 16px;
}

body{
    background-color: var(--color-negro-profundo);
    color: var(--color-crema);
    margin: 0;
}

.header{
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--color-azul-oscuro);
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; /*padding no aunmente el ancho total*/
    z-index: 100;
}


.brand{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dorado-suave)
}



.nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding:0;
}


.nav a{
    display:inline-block;
    color: var(--color-crema);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition:all 0.3s ease;
}


.nav a:hover{
    background-color: var(--color-dorado-suave);
    color: var(--color-negro-profundo);
    transform: translateY(-4px);
}

.nav a::before, .nav a::after{
    transition: 0.3s ease;
    color: var(--color-marron-elegante)
}


.nav a:hover::before{
    content: "[";
    margin-right: 4px;
    
}

.nav a:hover::after{
    content: "]";
    margin-left: 4px;    
}



/*
Vamos a entender bien algunos conceptos
    Width ancho, en px pixeles exactos en % segun el tamaño del padre
    max-width:ancho maximo, define el limite superior, no puede crecer mas que esto aunque width: 100%
    min-width: define el limite inferior, nunca se hace mas pequeño que esto
    height similar a width pero vertical, se puede suar px,% o vh auto significa que la altura es relativa al contenido

    convinar width + max-width
    width: 100%; intenta ocupar tdo el ancho del padre
    max-width: 1300px pero no mas de 1300px

*/

.hero{
    padding: 6rem 0 4rem 0;
}

.hero-container{
    height: 80vh;
    border: 2px solid var(--color-marron-elegante);
    border-radius: 24px;
    display:flex;
    align-items:center;
    gap: 3rem;
    padding: 3rem;
    transition: all 0.4s ease;
}

.hero-container:hover{
    border-color: var(--color-dorado-suave);
    box-shadow: 0 0 40px var(--brillo-fuerte);
}

.hero-image img{
    width: 700px;
    max-width: 100%; /*en el peor de los casos toda el espacio del padre*/
    height: auto;
    border-radius: 12px;
}

.hero-image img:hover{
    box-shadow: 0 0 25px var(--brillo-fuerte);
}

.hero-text{
    max-width: 450px;
}

.hero-text h1{
    font-size: 3.2rem;
    margin: 0;
}

.hero-text h1:hover, p:hover, h2:hover, h3:hover{
    text-shadow: 
        0 0 16px var(--brillo-fuerte),  
        0 0 24px var(--brillo-fuerte), 
        0 0 32px var(--brillo-fuerte); 
}

.hero-text h2{
    font-size: 1.6rem;
    margin-top: 1rem;
    color: var(--color-dorado-suave);
}

.hero-text p{
    margin-top: 1.5rem;
    line-height: 1.5;
}


#card1{ grid-area: 1/1/2/2;}
#card2{ grid-area: 1/2/2/3;}
#card3{ grid-area: 1/3/2/4;}
#card4{ grid-area: 2/1/3/2;}
#card5{ grid-area: 2/2/3/3;}
#card6{ grid-area: 2/3/3/4;}
#card7{ grid-area: 3/1/4/2;}
#card8{ grid-area: 3/2/4/3;}
#card9{ grid-area: 3/3/4/4;}



.skill-text{
    padding-top: 4rem ;
    margin-bottom: 2.5rem;
}

.skill-text h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.skill-text p{
    max-width: 600px;
    line-height: 1.7;
}

.skill{
    display: flex;
    justify-content: center;
    gap:2rem;
}

.skill-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    gap:2rem;
}

.skill-card{
    border: 2px solid var(--color-dorado-suave);
    border-radius: 24px;
    width: 100%;
    max-width: 150px;
    padding: 2rem;
    transition: all 0.4s ease;
}

.skill-card:hover{
    /*mejor opcion marron elegante, color azul oscuro*/
    background-color: var(--color-azul-oscuro);
    transform: translateY(-15px);
    box-shadow: 0 0 50px var(--brillo-fuerte);
}
.skill-icon {
    width: 80%;
    max-width: 200px;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 3rem;
    box-sizing: border-box;
}

p{
font-size: 1.25rem;
}




/*
Aqui empezamos con experience

*/


.experience-content{
    display:flex;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
}


#experience .experience-content p{
    text-align: center;   
}


.experience-card img, .experience-card{
     transition: all 0.4s ease;
}

.experience-card{
    width: 100%;
    max-width: 300px;
    margin: 1em;
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid var(--color-dorado-suave);

    display: flex;
    flex-direction: column;    
}

.experience-icon {
    width: 100%;         
    height: 180px;       
    max-height: 200px;    
    object-fit: cover;   /*para no deformar la imagen y solamente recortar*/
    border-radius: 12px;
}

.experience-card:hover img, .experience-card:hover{
       box-shadow: 
        0 0 12px var(--brillo-fuerte),  
        0 0 16px var(--brillo-fuerte), 
        0 0 32px var(--brillo-fuerte); 
}

#experience{
    padding-top: 6rem;
}

#experience .experience-content-buttom button {
    transition: 0.4s ease; 
}

#experience:hover .experience-content-buttom button {
    box-shadow: 
        0 0 4px var(--brillo-fuerte),  
        0 0 8px var(--brillo-fuerte), 
        0 0 16px var(--brillo-fuerte);
}


/*Animacion bonita*/
#experience .experience-card:hover .experience-content-buttom button{
    animation: none; 
}

#experience:hover .experience-content-buttom button {
    animation: jump-button 1s infinite ease-in-out;
    box-shadow: 
        0 0 4px var(--brillo-fuerte),  
        0 0 8px var(--brillo-fuerte), 
        0 0 16px var(--brillo-fuerte);
    transition: 0.3s ease;
}

@keyframes jump-button {
    0%, 100% { transform: translateY(0); }    
    25% { transform: translateY(-4px); }      
    50% { transform: translateY(0); }         
    75% { transform: translateY(-4px); }     
}
/*Fin de la animacion*/

.experience-content-buttom{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.experience-content-buttom button{
    color: var(--color-negro-profundo);
    background-color: var(--color-dorado-suave);
}

.experience-content-buttom button {
    font-size: 1.1rem;      
    padding: 0.5rem 1.2rem; 
    cursor: pointer;     
    border-radius: 12px;    
}

a{
    text-decoration: none;
    color: inherit;
}

.experience-text{
    padding-top: 4rem;
    margin-bottom: 2.5rem;
}

.experience-text h2{
    font-size: 2rem;
}

.experience-text p{
    max-width: 700px;
    line-height: 1.7;
}


